<p>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Mis animales</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button *ngIf="!user" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="login()">
        <mat-icon>login</mat-icon>
      </button>
      <button *ngIf="user" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>
  </p>
<div class="container">
    <div class="row mt-5">
        <div *ngFor="let i of info" class="col-4">
            <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar [style]="i.avatar"></div>
                  <mat-card-title>{{i.nombre}}</mat-card-title>
                  <mat-card-subtitle>{{i.tipo}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image [src]="i.imagen" alt="Photo of a Shiba Inu" height="250%" width="100%">
                <mat-card-content>
                  <p>
                    {{i.caracteristicas}}
                  </p>
                </mat-card-content>
                <mat-card-actions *ngIf="user">
                  <button mat-button>Edit</button>
                  <button mat-button>Delete</button>
                </mat-card-actions>
              </mat-card>
        </div>
    </div>
</div>
